@import '../../assets/styles/mixin';

.home-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.main-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    @include sm {
        object-position: 25%;
    }
}

.main-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 16px;
    max-width: 650px;

    @include xl {
        max-width: 600px;
    }

    @include lg {
        max-width: 500px;
    }

    @include md {
        max-width: 400px;
    }
}