@import '../../assets/styles/mixin';

.home-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background: rgb(0 0 0 / 60%);
    }
}

.main-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    z-index: 2;

    h1{
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 10px;
        text-shadow: 1px 1px 50px gray;
        color: #d0d0d0;
        text-wrap: nowrap;
        line-height: 2;

        @include lg{
            font-size: 48px;
        }

        @include md{
            font-size: 36px;
        }

        @include sm{
            font-size: 24px;
        }
    }
}