@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.location-section{
    padding: 100px 0;

    @include md{
        padding: 50px 0;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include xxl{
            min-height: calc(100vh - 200px);
        }
    }

    img{
        position: relative;
        z-index: -1;
    }
}

.location-heading{
    h2{
        letter-spacing: 5px;
        text-align: center;
    }
    span{
        color: $primary;
        font-weight: bold;
        font-size: 120%;
    }
}

.location-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 75px 0 0 0;
    position: relative;
    
    @include lg{
        display: none;
        flex-direction: column;
        padding: 50px 0 0 0;
    }

    @include md{
        flex-direction: row;
    }
}

.location-tab{
    display: none;
    max-width: 100%;

    @include lg{
        display: block;
    }

    .nav-tabs{
        gap: 1rem;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 2rem 0;
    }

    .nav-link{
        color: #cccccc;
        border-radius: 30px;
        border: 1px solid #232323;
        text-wrap: nowrap;
    }

    .tab-content{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 550px;
        padding: 50px 0 0 0;
    }

    .tab-pane{
        position: relative;
    }
}

.location-dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBmaWxsPSIjZjkzZTNlIiBkPSJNMjE1LjcgNDk5LjJDMjY3IDQzNSAzODQgMjc5LjQgMzg0IDE5MkMzODQgODYgMjk4IDAgMTkyIDBTMCA4NiAwIDE5MmMwIDg3LjQgMTE3IDI0MyAxNjguMyAzMDcuMmMxMi4zIDE1LjMgMzUuMSAxNS4zIDQ3LjQgMHpNMTkyIDEyOGE2NCA2NCAwIDEgMSAwIDEyOCA2NCA2NCAwIDEgMSAwLTEyOHoiLz48L3N2Zz4=');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: upAndDown 2s infinite;

    @include sm{
        width: 18px;
        height: 18px;
    }

    &::after{
        content: "";
        position: absolute;
        min-width: 200px;
        height: 110px;
        background: #000000e1;
        top: 35px;
        padding: 1rem;
        border-radius: 15px;
        text-align: center;
        opacity: 0;
        z-index: 999;
        visibility: hidden;
        transform: translateX(-87.5px);
        transition: opacity .3s ease-in-out;
    }

    &:hover, &:active, &:focus{
        animation: none;

        &::after{
            opacity: 1;
            visibility: visible;
            transition: opacity .3s ease-in-out;
        }
    }

    &.futan{
        top: 29%;
        left: 54%;

        &::after{
            content: "潭子區\A\A- 福潭路 • 6 套 -";
            white-space: pre;
        }

        &.lg{
            top: 42%;
            left: 43%;
        }
    }

    &.chongde{
        top: 34%;
        left: 44%;

        &::after{
            content: "北屯區\A\A- 崇德十路二段 • 18 套 -";
            white-space: pre;
        }
        
        &.lg{
            top: 22%;
            left: 11%;
        }
    }

    &.houzhuang{
        top: 34%;
        left: 42%;

        &::after{
            content: "北屯區\A\A- 后庄路 • 34 套 -";
            white-space: pre;
        }

        &.lg{
            top: 22%;
            left: 7%;
        }
    }

    &.dayi{
        top: 33%;
        left: 48%;

        &::after{
            content: "北屯區\A\A- 大毅讚幸福 -";
            white-space: pre;
        }

        &.lg{
            top: 20%;
            left: 21%;
        }
    }

    &.changping{
        top: 42%;
        left: 48%;

        &::after{
            content: "北屯區\A\A- 昌平路一段 • 4 套 -";
            white-space: pre;
        }

        &.lg{
            top: 55%;
            left: 20%;
        }
    }

    &.beiping{
        top: 42%;
        left: 46%;

        &::after{
            content: "北屯區\A\A- 北平路四段 • 店面 -";
            white-space: pre;
        }

        &.lg{
            top: 55%;
            left: 17%;
        }
    }

    &.wenhua{
        top: 39%;
        left: 33%;

        &::after{
            content: "西屯區\A\A- 文華路 • 6 套 -";
            white-space: pre;
        }

        &.lg{
            top: 48%;
            left: 75%;
        }
    }

    &.sheraton{
        top: 42%;
        left: 33%;

        &::after{
            content: "西屯區\A\A- 喜來登大樓 -";
            white-space: pre;
        }

        &.lg{
            top: 61%;
            left: 75%;
        }
    }

    &.yunjiang{
        top: 64%;
        left: 35%;

        &::after{
            content: "南區\A\A- 允將行旅 -";
            white-space: pre;
        }

        &.lg{
            top: 30%;
            left: 8%;
        }
    }

    &.zhennan{
        top: 20%;
        left: 8%;

        &::after{
            content: "沙鹿區\A\A- 鎮南路二段 • 18 套 -";
            white-space: pre;
        }

        &.lg{
            top: 43%;
            left: 28%;
        }
    }

    &.haohan{
        top: 59%;
        left: 49%;

        &::after{
            content: "東區\A\A- 浩瀚森之道 -";
            white-space: pre;
        }

        &.lg{
            top: 49%;
            left: 33%;
        }
    }
}