@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.location-section {
    padding: 100px 0;

    @include md {
        padding: 50px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include xxl {
            min-height: calc(100vh - 200px);
        }
    }

    img {
        position: relative;
        z-index: -1;
    }
}

.location-heading {
    h2 {
        letter-spacing: 5px;
        text-align: center;
        color: #b59c87;
    }

    span {
        color: #452522;
        font-weight: bold;
        font-size: 120%;
    }
}

.location-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 75px 0 0 0;
    position: relative;

    @include lg {
        display: none;
        flex-direction: column;
        padding: 50px 0 0 0;
    }

    @include md {
        flex-direction: row;
    }
}

.location-tab {
    display: none;
    max-width: 100%;

    @include lg {
        display: block;
    }

    .nav-tabs {
        gap: 1rem;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 2rem 0;
    }

    .nav-link,
    .nav-link:hover,
    .nav-link:active:focus {
        color: #111111;
        border-radius: 30px;
        border: 1px solid #232323;
        text-wrap: nowrap;

        &.active {
            background: #b59c87;
            color: #fff;
            border: 1px solid #b59c87;
        }
    }

    .tab-content {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 550px;
        padding: 50px 0 0 0;
    }

    .tab-pane {
        position: relative;
    }
}

.location-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iIzQzMjcyNCIgZD0iTTIxNS43IDQ5OS4yQzI2NyA0MzUgMzg0IDI3OS40IDM4NCAxOTJDMzg0IDg2IDI5OCAwIDE5MiAwUzAgODYgMCAxOTJjMCA4Ny40IDExNyAyNDMgMTY4LjMgMzA3LjJjMTIuMyAxNS4zIDM1LjEgMTUuMyA0Ny40IDB6TTE5MiAxMjhhNjQgNjQgMCAxIDEgMCAxMjggNjQgNjQgMCAxIDEgMC0xMjh6Ii8+PC9zdmc+);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: upAndDown 2s infinite;

    @include sm {
        width: 18px;
        height: 18px;
    }

    &::after {
        content: "";
        position: absolute;
        min-width: 200px;
        height: 110px;
        background: linear-gradient(to bottom right, #f5f5f5ee, #e5dbd2ee);
        border: 1px solid white;
        top: 35px;
        padding: 1rem;
        border-radius: 15px;
        text-align: center;
        opacity: 0;
        z-index: 999;
        visibility: hidden;
        color: #111111;
        transform: translateX(-87.5px);
        transition: opacity .3s ease-in-out;
    }

    &:hover,
    &:active,
    &:focus {
        animation: none;

        &::after {
            opacity: 1;
            visibility: visible;
            transition: opacity .3s ease-in-out;
        }
    }

    &.futan {
        top: 31%;
        left: 54%;

        &::after {
            content: "潭子區\A\A- 福潭路 • 6 套 -";
            white-space: pre;
        }

        &.lg {
            top: 42%;
            left: 43%;
        }
    }

    &.chongde {
        top: 35%;
        left: 44%;

        &::after {
            content: "北屯區\A\A- 崇德十路二段 • 18 套 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 22%;
            left: 11%;
        }
    }

    &.houzhuang {
        top: 35%;
        left: 42%;

        &::after {
            content: "北屯區\A\A- 后庄路 • 34 套 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 22%;
            left: 7%;
        }
    }

    &.dayi {
        top: 34%;
        left: 48%;

        &::after {
            content: "北屯區\A\A- 大毅讚幸福 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 20%;
            left: 21%;
        }
    }

    &.changping {
        top: 43%;
        left: 48%;

        &::after {
            content: "北屯區\A\A- 昌平路一段 • 4 套 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 55%;
            left: 20%;
        }
    }

    &.beiping {
        top: 43%;
        left: 46%;

        &::after {
            content: "北屯區\A\A- 北平路四段 • 店面 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 55%;
            left: 17%;
        }
    }

    &.wenhua {
        top: 39%;
        left: 34%;

        &::after {
            content: "西屯區\A\A- 文華路 • 6 套 -";
            white-space: pre;

            @include sm {
                transform: translateX(-100%);
            }
        }

        &.lg {
            top: 48%;
            left: 75%;
        }
    }

    &.sheraton {
        top: 42%;
        left: 34%;

        &::after {
            content: "西屯區\A\A- 喜來登大樓 -";
            white-space: pre;

            @include sm {
                transform: translateX(-100%);
            }
        }

        &.lg {
            top: 58%;
            left: 75%;
        }
    }

    &.yunjiang {
        top: 65%;
        left: 35%;

        &::after {
            content: "南區\A\A- 允將行旅 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 40%;
            left: 11%;
        }
    }

    &.zhennan {
        top: 23%;
        left: 8%;

        &::after {
            content: "沙鹿區\A\A- 鎮南路二段 • 18 套 -";
            white-space: pre;
        }

        &.lg {
            top: 43%;
            left: 28%;
        }
    }

    &.haohan {
        top: 59%;
        left: 49%;

        &::after {
            content: "東區\A\A- 浩瀚森之道 -";
            white-space: pre;
        }

        &.lg {
            top: 49%;
            left: 33%;
        }
    }

    &.shengmeijimei {
        top: 53%;
        left: 25%;

        &::after {
            content: "南屯區\A\A- 勝美極美 -";
            white-space: pre;
        }

        &.lg {
            top: 28%;
            left: 58%;
        }
    }

    &.tanfu {
        top: 29%;
        left: 48%;

        &::after {
            content: "潭子區\A\A- 潭富路二段 7 套 + 店面 -";
            white-space: pre;
        }

        &.lg {
            top: 33%;
            left: 21%;
        }
    }

    &.dongshan {
        top: 41%;
        left: 56%;

        &::after {
            content: "北屯區\A\A- 東山路一段 6 套 -";
            white-space: pre;
        }

        &.lg {
            top: 45%;
            left: 37%;
        }
    }

    &.qingdao {
        top: 43%;
        left: 43%;

        &::after {
            content: "北區\A\A- 青島東街 公寓 -";
            white-space: pre;
        }

        &.lg {
            top: 0%;
            left: 30%;
        }
    }

    &.huayuanxindu {
        top: 38%;
        left: 41%;

        &::after {
            content: "北屯區\A\A- 花園新都 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 34%;
            left: 7%;
        }
    }

    &.taiwandadao {
        top: 20%;
        left: 9%;

        &::after {
            content: "沙鹿區\A\A- 台灣大道七段 6 套 -";
            white-space: pre;
        }

        &.lg {
            top: 33%;
            left: 31%;
        }
    }

    &.royal {
        top: 23%;
        left: 48%;

        &::after {
            content: "潭子區\A\A- 崇德皇家 -";
            white-space: pre;
        }

        &.lg {
            top: 4%;
            left: 21%;
        }
    }

    &.shenglin {
        top: 50%;
        left: 55%;

        &::after {
            content: "太平區\A\A- 陞霖執美 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 6%;
            left: 8%;
        }
    }

    &.xinglin {
        top: 43%;
        left: 32%;

        &::after {
            content: "西屯區\A\A- 教師新村 -";
            white-space: pre;

            @include sm {
                transform: translateX(-100%);
            }
        }

        &.lg {
            top: 61%;
            left: 72%;
        }
    }

    &.yaxin {
        top: 39%;
        left: 49%;

        &::after {
            content: "北屯區\A\A- 亞昕一緒 -";
            white-space: pre;
        }

        &.lg {
            top: 42%;
            left: 23%;
        }
    }

    &.chengong {
        top: 19%;
        left: 54%;

        &::after {
            content: "豐原區\A\A- 成功路 店面 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 54%;
            left: 11%;
        }
    }

    &.yinghua {
        top: 67%;
        left: 14%;

        &::after {
            content: "烏日區\A\A- 櫻花家綻 -";
            white-space: pre;

            @include sm {
                transform: translateX(0%);
            }
        }

        &.lg {
            top: 24%;
            left: 10%;
        }
    }

    &.jinde {
        top: 49%;
        left: 48%;

        &::after {
            content: "北區\A\A- 進德北路 獨棟 -";
            white-space: pre;
        }

        &.lg {
            top: 40%;
            left: 63%;
        }
    }

    &.jingke {
        top: 56%;
        left: 23%;

        &::after {
            content: "南屯區\A\A- 浩瀚菁科2MAX -";
            white-space: pre;
        }

        &.lg {
            top: 41%;
            left: 52%;
        }
    }
}