@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.footer-section {
    padding: 100px 0 0 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(80vh - 200px);

        @include xxl {
            min-height: calc(100vh - 200px);
        }
    }
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @include xxl {
        gap: 2rem;
    }

    picture img.logo {
        @include xl {
            width: 200px;
        }
    }

    .content-heading {
        padding: 1.5rem 0;
        letter-spacing: 10px;
        font-size: 20px;

        @include md {
            padding: 1rem 0;
            letter-spacing: 3px;
        }
    }

    a {
        color: #111111;
    }

    p {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 3px;

        @include md {
            flex-direction: column;
            gap: 2rem;
        }
    }
}